<section id="gallery">
  <div class="container text-center">
    <h1>GALLERY</h1>
    <hr/>
 <!-- ### start of the gallery definition ### -->
              <div id="nanogallery2"
              
                  data-nanogallery2 = '{
                        "thumbnailHeight":  150,
                        "thumbnailWidth":   150,
                        "itemsBaseURL":     ""
                      }' >
                                    
                     <!-- gallery content -->
                    {% assign std = page.slide-img.size %}
                   {% assign sizes = std | minus: 1 %}
                   {% for i in (0..sizes) %}
                   <!-- <div class="mySlides">
                    <img src="{{ page.slide-img[i] }}">
                   </div> -->
                   {% assign conv = page.slide-img[i] | split: '/' %}
                   <!-- {% assign spliter = conv | split:'img/' %} -->

                   {% assign ter = conv[-1] | prepend: 't_' %}
                   {% assign result = ter | prepend: 'img/' %}
                  <a href = "{{ page.slide-img[i] }}"   data-ngThumb = "{{ page.slide-img[i] }}" >  </a>
                  <!-- <a href = "{{ page.slide-img[i] }}"   data-ngThumb = "{{ result }}" >  </a> -->


                   {% endfor %}
              </div>
              <!-- ### end of the gallery definition ### -->

  


    
    <hr/>
        {% assign std = page.slide-img.size %}
        {% assign sizes = std | minus: 1 %}
        {% for i in (0..sizes) %}
        <div class="mySlides">
          <img src="{{ page.slide-img[i] }}">
        </div>
        {% endfor %}



    
      
  </div>
</section>





<script>


// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}
</script>
