.nanum-gothic {
  font-family: 'Nanum Gothic', sans-serif !important;
}

.do-hyeon {
  font-family: 'Do Hyeon', sans-serif !important;
}

.noto-serif {
  font-family: 'Noto Serif KR', sans-serif !important;
}

.sun-flower {
  font-family: 'Sunflower', sans-serif !important;
}

.yeon-sung {
  font-family: 'Yeon Sung', cursive !important;
}

h2{
  font-size: 28px !important;
}

h3{
  font-size: 23px !important;
}
