.nanum-gothic {
  font-family: 'Nanum Gothic', sans-serif !important;
}

.do-hyeon {
  font-family: 'Do Hyeon', sans-serif !important;
}

.noto-serif {
  font-family: 'Noto Serif KR', sans-serif !important;
}

.sun-flower {
  font-family: 'Sunflower', sans-serif !important;
}

.yeon-sung {
  font-family: 'Yeon Sung', cursive !important;
}

h1{
  font-size: 32px !important;
}

h2{
  font-size: 26px !important;
}

h3{
  font-size: 22px !important;
}

h4{
  font-size: 18px !important;
}

h5{
  font-size: 14px !important;
}

.small-font {
  font-size: 15px !important;
}
