#nav-outer{
  margin: 0;
  top: 0;

}

#nav-outer .nav-container{
  margin: auto;
  top: 0;
  width: 100%;
  max-width: 800px;
}

@media screen and (min-width: 800px){
  .nav-container > .navbar{
    padding-left: 0;
    padding-right: 0;
  }
}
