#nav-outer{
  margin: 0;
  top: 0;

}

#nav-outer .nav-container{
  margin: auto;
  top: 0;
  width: 100%;
  max-width: 800px;
}

#nav-outer .nav-container .navbar-brand{
  font-family: 'Do Hyeon', sans-serif;

}

#nav-outer .nav-container .nav-item{
  font-family: 'Nanum Gothic', sans-serif;
}

@media screen and (min-width: 800px){
  .nav-container > .navbar{
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar-galhyun {
  background-color: #0072bc;
}
